.team1 {
	background: url("../img/team/wall.jpg");
	height: 100%;
	background-size: 100%;
}

.text {
	padding-top: 0.7em;
	text-align: center;
	margin-top: 0em;
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	color: #4ddbff;
}

.inline {
	display: inline-block;
	margin-bottom: 30px;
	margin: 2em 4em;
	border: 1px;
}

.clearboth { 
	clear:both;
}

.team2 {
	text-align: center;
	overflow: hidden;
	align-content: center;
}

.name {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #ff9933;
	font-size: 1.5em;
}

img {
	border-radius: 50%;
}

.description {
	font-size: 0.7em;
}

.team3 {
	text-align: center;
	overflow: hidden;
	align-content: center;
}

.inline-1 {
	display: inline-block;
	margin-bottom: 30px;
	margin: 2em;
}

#app a {
  color: #ffff00;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

#app a:hover {
  color: orange;
  text-decoration: none;
}

#app i {
	font-size: 1.3em;
}
